@component('emails/layouts/base_text', { title: `Postulación Rechazada`, heading: `Hola ${name}!`, appName: appName })

Lamentablemente tu postulación (ID: {{ applicationId }}) ha sido rechazada.

Oferta: {{ offerPosition ?? 'N/A' }}

Podés ver más detalles en: {{ appUrl ?? '' }}

Gracias por tu interés.
@endcomponent
