services:
  app:
    build: .
    ports:
      - "3333:3333"
    env_file: .env
    depends_on:
      - db

  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
      POSTGRES_NAME: app
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: your_email@example.com
      PGADMIN_DEFAULT_PASSWORD: your_password
    ports:
      - "8080:80"
    depends_on:
      - db