services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
      POSTGRES_DB: app
    networks:
      - devnet
    ports:
      - "5432:5432"
  redis:
    image: redis:7-alpine
    restart: always
    networks:
      - devnet
    ports:
      - "6379:6379"


networks:
  devnet:
    driver: bridge

volumes:
  pgdata:
  redisdata: