services:
  proxy:
    image: nginx:alpine
    ports:
      - "80:80"
    networks: [appnet]
    volumes:
      - ./nginx.prod.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        API_URL: "http://127.0.0.1/api/v1"
    restart: always
    networks: [appnet]
    environment:
      NODE_ENV: production
      PORT: 3000
      API_URL: "http://127.0.0.1/api/v1"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    networks: [appnet]
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: production
      HOST: 0.0.0.0
      PORT: 8080

      DATABASE_URL: "postgresql://root:root@db:5432/app"
      REDIS_HOST: redis
      REDIS_PORT: 6379
      APP_URL: http://127.0.0.1
    depends_on:
      - db
      - redis

  job-runner:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    networks: [appnet]
    command: ["node", "ace", "jobs:listen"]
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: production

      DATABASE_URL: "postgresql://root:root@db:5432/app"
      REDIS_HOST: redis
      REDIS_PORT: 6379
      APP_URL: http://127.0.0.1
    depends_on:
      - db
      - redis

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
      POSTGRES_DB: app
    networks: [appnet]
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    networks: [appnet]
    volumes:
      - redisdata:/data

networks:
  appnet:
    driver: bridge

volumes:
  pgdata:
  redisdata:
