.curso-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

.curso-list-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 16px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 8px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}

.table {
    /* display: table; */
    display: grid;
    grid-template-columns: repeat(4, minmax(0, auto));
    border: 1px solid #ddd;
    border-radius: 16px;

    --gap: 2rem;
    --line-offset: calc(var(--gap) / 2);
    --line-thickness: 2px;
    --line-color: red;
}

.table-row {
    display: contents;
    border-top: 1px solid #ddd;
    position: relative;
}

.table-row * {
    padding: 8px;
    /* margin: auto 0px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* position: relative; */
}

.table-row:first-child * {
    border-bottom: 1px solid #ddd;
    /* position: relative; */
}

.table-row::after {
    content: '';
    position: absolute;
    background-color: var(--line-color);
    z-index: 1;
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
}

table {
    width: 100%;
    /* border-collapse: collapse; */
}

input[type="checkbox"] {
    height: 0.9em;
}

tr {
    /* display: flex; */
}

td, th {
    /* border: 2px solid #ddd;
    border-radius: 100px; */
    border-spacing: 0;
    padding: 8px;
    /* vertical-align: baseline; */
    /* display: flex; */

}

td {
    border-top: 1px solid #ddd;
}

td:first-of-type, th:first-of-type {
    padding-left: 16px;
}

td:last-of-type, th:last-of-type {
    padding-right: 16px;
}

/* tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
} */

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
