@component('emails/layouts/base_text', { title: 'Restablecer contraseña', heading: `Hola ${name}!`, appName: appName })
@slot('main')
Recibimos un pedido para restablecer tu contraseña.
Este link vence en {{ expiresInMinutes }} min:

{{ resetUrl }}
@endslot
@endcomponent
