form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* display: block; */
    font-size: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input, textarea {
    display: block;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
}

.changed label {
    color: #007bff;
}

.changed input, textarea {
    border-color: #007bff;
    background-color: #f0f8ff;
    color: #007bff;
}

.disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    /* cursor: not-allowed; */
}
